<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    <p><a href="/gossips/new/">Créé ton new Potin</a></p>
    <% gossips.each_with_index do |gossip, i| %>
      <br>
      <a href="/gossips/<%= i+1 %>/">
      Lien vers le gossip n° <%= i+1 %>
      </a>
    <% end %>
</html>